@media screen and (max-width: 800px) {
  .home {
    padding-bottom: 10%;
  }

  .summary-text {
    width: 100%;
  }

  .headshot {
    visibility: hidden;
    width: 0%;
  }
}

@media screen and (min-width: 800px) {

  .home {
    display: flex;
    align-items: center;
    height: 50vh;
    
    .summary-text {
      width: 50%;
  
      #highlight_swe {
        color: var(--text-secondary-small);
        display: inline;
      }
    }
  
    .headshot {
      width: 50%;
      text-align: center;
  
      #photo {
        width: 50%;
        border-radius: 50%;
      }
    }
  }
}
