:root {
  --text-primary: #000000;
  /* --text-secondary: #e63946; */
  --text-secondary: #df2020;
  --background-color: #ffffff;
  
  --background-color-night: #004466;
  --text-primary-night: #e9e3dc;

  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-default: 16px;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  color: var(--text-secondary);
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p, a {
  font-size: var(--font-size-default);
}

header {
  display: flex;
  justify-content: center;
  
  .navbar {
    width: fit-content;
    padding: 24px 48px;
    border-radius: 50px;
    display: flex;
    gap: 32px;
    border: 1px solid black;
  }

}

.App {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: var(--font-size-default);
  background-color: var(--background-color);
  min-height: 100vh;

  .home {
    display: flex;
    align-items: center;
    
    .summary-text {
      width: 50%;
    }

    .headshot {
      width: 50%;
      text-align: center;

      #photo {
        width: 50%;
        border-radius: 50%;
      }
    }
  }
  
  
}

section {
  border-bottom: 1px gray solid;
  height: 50vh;
}

footer {
  text-align: center;
}
