@import url("variables.css");

@media (min-width:900px) {
  .App {
    font-size: var(--font-size-default);
    background-color: var(--background-color);
    /* min-height: 100vh; */
  
    .content {
      position: relative;
      top: calc(0.2 * 100vh);
    }
  
    .contact {
      list-style-type: none;
    }
  
  }

  footer {
    bottom: calc(-1 * 0.2 * 100vh);
  }
}

@media (max-width:899px) {
  .App {
    width: 100%;
  }

}


footer {
  text-align: center;
  padding: 24px 48px;
  position: relative;

  p {
    margin: 0;
  }
}

