:root {
  --text-primary: #000000;
  /* --text-secondary: #e63946; */
  --text-secondary: #df2020;
  --background-color: #ffffff;
  
  --background-color-night: #004466;
  --text-primary-night: #e9e3dc;

  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h3: 24px;
  --font-size-default: 18px;
}

h1 {
  font-size: var(--font-size-h1);
  font-family: "Roboto", serif;
}

h2 {
  color: var(--text-secondary);
  font-size: var(--font-size-h2);
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-h3);
  font-family: "Roboto", serif;
}

p, a {
  font-size: var(--font-size-default);
  font-family: "Nunito", serif;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 5% 0;
  /* background-color: beige; */
  z-index: 100;
  
  .navbar {
    width: fit-content;
    padding: 24px 48px;
    border-radius: 50px;
    display: flex;
    gap: 32px;
    border: 1px solid black;
    background-color: var(--background-color);
  }

}

.App {
  /* padding: 5%; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  font-size: var(--font-size-default);
  background-color: var(--background-color);
  min-height: 100vh;

  .content {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    top: calc(0.2 * 100vh);
  }

  .home {
    display: flex;
    align-items: center;
    
    .summary-text {
      width: 50%;

      #highlight_swe {
        color: var(--text-secondary);
        display: inline;
      }
    }

    .headshot {
      width: 50%;
      text-align: center;

      #photo {
        width: 50%;
        border-radius: 50%;
      }
    }
  }

  .contact {
    list-style-type: none;
  }

}

section {
  border-bottom: 1px gray solid;
  height: 50vh;
}

footer {
  text-align: center;
  padding: 24px 48px;
  position: relative;
  bottom: calc(-1 * 0.2 * 100vh);

  p {
    margin: 0;
  }
}
