@import url("variables.css");

.App {
  font-size: var(--font-size-default);
  background-color: var(--background-color);
  min-height: 100vh;

  .content {
    position: relative;
    top: calc(0.2 * 100vh);
  }

  .contact {
    list-style-type: none;
  }

}

footer {
  text-align: center;
  padding: 24px 48px;
  position: relative;
  bottom: calc(-1 * 0.2 * 100vh);

  p {
    margin: 0;
  }
}
